$mainColor: #373d4a
$bgColor: #fbf9f6
$blueGrayColor: #5f636d
$grayColor: #979797
$lightGrayColor: #eeefef
$darkGrayColor: #555555
$goldenColor: #c7984a


@media (max-width: 735px)
  #header
    margin: 0
  #main
    padding: 0 !important
    margin-top: 0 !important
    margin-left: 0px !important
    margin-right: 0px !important
  #userInfo
    background-color: $blueGrayColor
    padding: 0.5em 1em
    .user-name, .datetime
      color: white
  #mediaInfo
    padding-left: 1em
    padding-right: 1em
  #mediaInfo 
    #mapContainer
      height: 150px !important
    #description
      max-height: none !important

@media (min-width: 736px)
  #main
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15)
    margin: 1rem 0
    border-bottom-right-radius: 4px
    border-top-right-radius: 4px
    border: 1px solid rgba(34,36,38,.15)
    background-color: #fff
  #header
    margin: 0 0 30px 0
  #capsoContainer
    position: relative
  #capsoContainer
    >article
      padding-right: 335px
  #userInfo
    border-bottom: 1px solid #eeefef
    padding: 20px 0
    position: absolute
    right: 24px
    top: 0
    width: 287px
    background-color: white
    .user-name
      color: $mainColor
    .datetime
      color: $grayColor
  #mediaInfo
    bottom: 0
    box-sizing: border-box
    position: absolute
    right: 0
    top: 80px
    width: 335px
    padding: 0 24px
    #mapContainer
      height: 90px !important
    #description
      max-height: 100px !important

@media (min-width: 768px)
  #header >.ui.container .item
    padding: 0
  #mediaInfo 
    #mapContainer
      height: 100px !important
    #description
      max-height: 95px !important

@media (min-width: 992px)
  #mediaInfo 
    #mapContainer
      height: 150px !important
    #description
      max-height: 245px !important

@media (max-width: 767px)
  #header > .ui.container
    width: 100% !important

@media (min-width: 1200px)
  .ui.container
    width: 933px !important

body
  background-color: $bgColor

#header
  background-color: $mainColor
  width: 100%
  height: 70px
  order: 1
  img.logo
    width: 55px !important
  >.ui.container .item
    margin: 0
    .button
      font-size: 0.85em
      padding-top: 0.8em
      padding-bottom: 0.8em
      box-shadow: 0 0 0 1px rgba(255,255,255,.5) inset!important
      &:hover
        box-shadow: 0 0 0 1px white inset!important

#page
  min-height: 100%

#error
  text-align: center
  height: 500px
  order: 2
  &:before
    content: ''
    display: inline-block
    vertical-align: middle
    width: 0
    height: 100%
  article
    display: inline-block
    vertical-align: middle


#main
  position: relative
  box-sizing: border-box
  margin-bottom: 10px
  order: 2

#footer
  margin-top: 15px
  width: 100%
  overflow: hidden
  min-height: 30px
  order: 3
  p
    margin-bottom: 0.3em
  .copyright
    color: $grayColor
    text-align: center
    font-size: 13px
    line-height: 2em
    padding: 0 
    margin-bottom: 1em
  .links
    color: $lightGrayColor
    text-align: center
    font-size: 13px
    span.split
      padding: 0 10px
    a.terms-link
      font-weight: bold
      &:link, &:visited
        color: $blueGrayColor
      &:hover
        color: $mainColor

#secretContainer
  article
    color: black
    text-align: center
  #app-icon
    width: auto
    height: 100px
    margin-bottom: 1.5em
  .description
    line-height: 1.3em
    font-size: 1em
    margin-bottom: 1.5em
  .location-name
    font-weight: bold
    color: $goldenColor

.ui.dimmer.modals.page
  //background-color: rgba(0,0,0,0.93)
  background-color: rgba(255,255,255,0.95)

#userInfo
  .avatar
    border: 1px solid $goldenColor
  .user-name
    font-weight: bold
    margin-bottom: 0.2em
  .datetime
    font-size: 0.8em

#mediaInfo
  margin: 0
  >div
    margin: 0
  .item
    border-color: $lightGrayColor
    padding: 20px 0
  #description
    padding-top: 5px
    line-height: 1.3em
    overflow: auto
  #mapContainer
    width: 100%
    height: 150px
    margin-bottom: 15px
    padding: 0
    overflow: hidden
    position: relative

#socialBtns
  padding: 15px 0
  text-align: center
  position: relative
  .twitter-btn, .pinterest-btn
    display: inline-block
    margin-bottom: -8px
    margin-left: 10px
    overflow: hidden

#location
  color: $goldenColor
  line-height: 36px
  .icon-marker
    width: auto
    height: 18px
  #location-name
    width: 150px
    font-size: 1em

#comments
  //border-top: 1px solid $lightGrayColor

#media
  width: 100%
  height: auto
  background-color: $lightGrayColor
  overflow: hidden
  position: relative
  .default
    width: 100%
    top: 0
    left: 0
    position: relative
    margin-bottom: -4px
  .preview, .video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: auto
    background: transparent
    margin-bottom: -4px
  .video.hide
    display: none

.ui.basic.golden.button, .ui.basic.golden.button.buttons .button
  box-shadow: 0 0 0 1px $goldenColor inset !important
  color: $goldenColor !important
  &:hover
    background-color: $goldenColor !important
    box-shadow: 0 0 0 1px $goldenColor inset !important
    color: white !important
  &:focus
    background-color: transparent !important
    color: $goldenColor !important

iframe
 max-width: none


