$mainColor: #373d4a
$bgColor: #fbf9f6
$blueGrayColor: #5f636d
$grayColor: #979797
$lightGrayColor: #eeefef
$darkGrayColor: #555555
$goldenColor: #c7984a

body
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif
  font-size: 14px

#topBar
  background-color: $blueGrayColor
  padding: 0.5em 1em

#userInfo
  img.avatar
    border: 1px solid $goldenColor
    vertical-align: middle
    display: inline-block
    width: 35px
    height: auto
    font-size: .71428571rem
    border-radius: 500rem
  &>.content
    color: white
    display: inline-block
    vertical-align: middle
    line-height: 1.14285714em
    padding: 0 0 0 .5em
    .user-name
      font-weight: bold
      margin-bottom: 0.2em
      font-size: 1rem
    .datetime
      font-size: 0.8em

#media
  position: relative
  width: 100%
  height: auto
  overflow: hidden
  .default
    width: 100%
    top: 0
    left: 0
    position: relative
  .preview
    width: 100%
    top: 0
    left: 0
    position: absolute
  #video
    width: 100%
    top: 0
    left: 0
    position: absolute

#location
  padding: 20px 0;
  .icon-marker
    width: auto
    height: 18px

