//@import "/css/normalize.css"
@import "/assets/css/bootstrap.min.css"
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700)

$main-color: #2a2e3a
$main-dark-color: #20232b
$secondary-color: #df5343
$light-color: #f2ebe4
$dark-color: #1D1F26
$gold-color: #c7984a
$brown-color: #382413
$lighter-color: rgba(255,255,255,0.3)
$darker-color: rgba(0,0,0,0.7)


$header-height: 60px
$footer-height: 60px
$section-header-height: 50px

$content-max-width: 960px

body
  font: 14px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  background-color: $light-color

a:link, a:visited
  color: $secondary-color
  text-decoration: none

.btn-link
  &:focus, &:hover
    color: $secondary-color

.terms-container
  color: #333
  line-height: 1.5em
  h2
    font-size: 20px
  p.content
    text-indent: 1em
  p.updated
    color: $gold-color
    text-align: right
  hr 
    border: 0
    border-bottom: 1px solid #ddd
  li
    margin-bottom: 1em
  .link
    word-break: break-all

#page
  margin: 0
  padding-left: 0
  padding-right: 0
  background-color: $main-color

.navbar-capso
  background-color: $dark-color
  border-bottom: 1px solid $secondary-color
  margin-bottom: 0
  border-radius: 0
  .capso-brand:link, .capso-brand:hover, .capso-brand:visited
    font-family: "Roboto Slab"
    font-size: 28px
    line-height: 48px
    color: $gold-color
  .logo
    height: 24px
  button
    border: 0
    &.navbar-toggle
      &:focus, &:hover
        background-color: $main-color

.footer
  width: 100%
  overflow: hidden
  min-height: $footer-height
  background-color: $main-dark-color
  .copyright
    color: #555
    text-align: center
    font-size: 13px
    line-height: 2em
    padding: 0 
    margin-bottom: 1em
  .links
    text-align: center
    font-size: 13px
    span.split
      padding: 0 10px
    a.terms-link
      &:link, &:visited
        color: #666
      &:hover
        color: white
  &.light
    background-color: $light-color
    .copyright
      color: #999
    .links
      color: #ccc
      a.terms-link
        &:link, &:visited
          color: #666
        &:hover
          color: #333

.section
  width: 100%
  height: auto
  position: relative
  overflow: hidden
  .section-header
    text-align: center
    width: 100%
    padding: 10px 0
    h1.title
      color: $gold-color
      font: 1.7em bold "Roboto Slab"
      line-height: 1.5em
      margin: 0
  .content
    width: 100%
    max-width: $content-max-width
    margin: 0px auto

#section0
  position: relative
  height: 650px
  background-color: $main-color
  text-align: center
  background: url(/images/section0-bg.png) no-repeat center
  background-size: auto 660px
  .iphone
    position: relative
    width: 100%
    height: 500px
    margin-top: 30px
    background-color: #ccc
    background: url(/images/section0-iphone.png) no-repeat center
    background-size: auto 500px
  .download-appstore>img
    margin-top: 10px
    width: 180px

#section1
  background-color: $light-color
  text-align: center
  height: 740px
  overflow: hidden
  .section-header
    background-color: $lighter-color
  article
    max-width: 900px
    margin: 0 auto
    box-sizing: border-box
    .app-icon
      width: 85px
      margin-top: 30px
    p
      font-size: 1.3em
      line-height: 1.3
      &.description
        font-weight: bold
        margin: 30px 0
        color: $brown-color
      &.content
        font-family: "Helvetica Neue Thin"
        font-size: 1.1em
        width: 95%
        color: #999
  .iphones
    width: 100%
    height: 900px
    margin-top: 50px
    background: url(/images/section1-iphones.png) no-repeat center 0
    background-size: 1160px auto

#section2
  min-height: 750px
  .iphone-photo
    background: url(/images/iphone-golden-01.png) no-repeat center

#section3
  min-height: 700px
  .iphone-photo
    background: url(/images/iphone-golden-02.png) no-repeat center

#section2, #section3
  background-color: $main-color
  overflow: hidden
  .gradient
    position: absolute
    width: 100%
    height: 150px
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%) /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0))) /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%) /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%) /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%) /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%) /* W3C */
  .section-header
    background-color: $darker-color
    h1.title
      font-size: 1.3em
  hr
    width: 100%
    border: 0
    border-bottom: 1px solid $secondary-color
  .iphone-photo
    width: 100%
    height: 603px
    background-size: auto 100%
  .video
    background: none
    display: none
    position: absolute
    left: 50%
    top: 78px
    margin-left: -130px
    width: 260px
    height: 445px
    @media (min-width: 768px)
      display: block
  .row.info
    max-width: 930px
    margin: auto
    margin-top: 50px
    margin-bottom: 60px
    padding: 0
  .sub-title 
    color: $gold-color
    font-size: 1em
    line-height: 1.2em
    margin: 0
    margin-top: 50px
  .creator-description 
    color: #999
    line-height: 1.5em
  .title
    color: $gold-color
    line-height: 1.8em
    margin: 0
    font-size: 32px
  .features
    list-style: none
    padding-left: 0
    margin-top: 20px
    margin-bottom: 50px
    li
      line-height: 1.3em
      margin-bottom: 10px
      color: #eee
      .subject
        color: white
        padding: 7px 13px
        background-color: #4C4A49
        border: 1px solid $gold-color
        line-height: 3.5em
        border-radius: 25px
      .description
        font-size: 0.8em
  .icon
    width: 100px
    height: 100px
    position: absolute
    margin-top: 40px
    right: 10px

  .icon-creator
    background: url(/images/icon-creator.png) no-repeat center
    background-size: 90px

  .icon-explorer
    background: url(/images/icon-explorer.png) no-repeat center
    background-size: 90px

#section4
  background-color: $light-color
  height: auto
  .section-header
    background-color: $lighter-color
  .links
    width: 70%
    margin: 0 auto
  .link
    display: block
    overflow: hidden
    text-align: center
    width: 100%
    height: auto
    margin-top: 70px
    margin-bottom: 70px
    .title
      line-height: 1.5em
      color: $gold-color
    .icon
      display: block
      margin: 0 auto
      width: 50px
      height: 50px
      background-repeat: no-repeat
      background-position: center
      background-size: 50px
    .icon-email
      background-image: url(/images/icon-email.svg)
    .icon-facebook
      background-image: url(/images/icon-facebook.svg)
    .icon-press-kit
      background-image: url(/images/icon-press-kit.svg)
    &:hover
      .title
        color: $main-color
      .icon-email
        background-image: url(/images/icon-email-active.svg)
      .icon-facebook
        background-image: url(/images/icon-facebook-active.svg)
      .icon-press-kit
        background-image: url(/images/icon-press-kit-active.svg)

#section5
  background-color: $main-dark-color
  height: auto
  text-align: center
  .email-subscription
    margin-bottom: -40px
  .thank-you
    position: relative
    width: 100%
    top: -40px
    color: white
    font-size: 30px
    visibility: hidden
  #inputEmail
    background-color: #4C4A49
    border-color: $gold-color
    color: white
    text-align: center
  button.submit-btn
    margin-left: 5px
    margin-right: 5px
    background: none
    border-color: #ddd
    color: #ddd
    outline: 0
    &:hover
      background-color: #4C4A49
  p.email-subscription-description
    color: #999
    margin-top: 50px
  p.description
    color: $gold-color
    margin-top: 60px
  .app-icon
    width: 42px
    margin-right: 10px
  .download-appstore>img
    width: 138px
  .clearfix
    margin-bottom: 60px
  hr
    width: 96%
    border: 0
    border-bottom: 1px solid #333

.container
  &.forget-password, &.reset-password
    max-width: 500px
    .title
      text-align: center
    p.description
      color: #999


.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both 
  -webkit-transition: 1s ease-in-out
  -moz-transition: 1s ease-in-out
  -o-transition: 1s ease-in-out
  transition: 1s ease-in-out

@-webkit-keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes fadeOut
  0% 
    opacity: 1
  100%
    opacity: 0

.fadeOut
  -webkit-animation-name: fadeOut
  animation-name: fadeOut

@-webkit-keyframes fadeInUp 
  0% 
    opacity: 0
    -webkit-transform: translateY(20px)
  100%
    opacity: 1
    -webkit-transform: translateY(0)

@keyframes fadeInUp 
  0%
    opacity: 0
    transform: translateY(20px)
  100%
    opacity: 1
    transform: translateY(0) 

.fadeInUp
  visibility: visible !important
  -webkit-animation-name: fadeInUp
  animation-name: fadeInUp
