$mainColor: #373d4a
$bgColor: #fbf9f6
$blueGrayColor: #5f636d
$grayColor: #979797
$lightGrayColor: #eeefef
$darkGrayColor: #555555
$goldenColor: #c7984a

body
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif
  font-size: 14px
  background-color: $lightGrayColor

