@import url(/assets/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #f2ebe4; }

a:link, a:visited {
  color: #df5343;
  text-decoration: none; }

.btn-link:focus, .btn-link:hover {
  color: #df5343; }

.terms-container {
  color: #333;
  line-height: 1.5em; }
  .terms-container h2 {
    font-size: 20px; }
  .terms-container p.content {
    text-indent: 1em; }
  .terms-container p.updated {
    color: #c7984a;
    text-align: right; }
  .terms-container hr {
    border: 0;
    border-bottom: 1px solid #ddd; }
  .terms-container li {
    margin-bottom: 1em; }
  .terms-container .link {
    word-break: break-all; }

#page {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #2a2e3a; }

.navbar-capso {
  background-color: #1D1F26;
  border-bottom: 1px solid #df5343;
  margin-bottom: 0;
  border-radius: 0; }
  .navbar-capso .capso-brand:link, .navbar-capso .capso-brand:hover, .navbar-capso .capso-brand:visited {
    font-family: "Roboto Slab";
    font-size: 28px;
    line-height: 48px;
    color: #c7984a; }
  .navbar-capso .logo {
    height: 24px; }
  .navbar-capso button {
    border: 0; }
    .navbar-capso button.navbar-toggle:focus, .navbar-capso button.navbar-toggle:hover {
      background-color: #2a2e3a; }

.footer {
  width: 100%;
  overflow: hidden;
  min-height: 60px;
  background-color: #20232b; }
  .footer .copyright {
    color: #555;
    text-align: center;
    font-size: 13px;
    line-height: 2em;
    padding: 0;
    margin-bottom: 1em; }
  .footer .links {
    text-align: center;
    font-size: 13px; }
    .footer .links span.split {
      padding: 0 10px; }
    .footer .links a.terms-link:link, .footer .links a.terms-link:visited {
      color: #666; }
    .footer .links a.terms-link:hover {
      color: white; }
  .footer.light {
    background-color: #f2ebe4; }
    .footer.light .copyright {
      color: #999; }
    .footer.light .links {
      color: #ccc; }
      .footer.light .links a.terms-link:link, .footer.light .links a.terms-link:visited {
        color: #666; }
      .footer.light .links a.terms-link:hover {
        color: #333; }

.section {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }
  .section .section-header {
    text-align: center;
    width: 100%;
    padding: 10px 0; }
    .section .section-header h1.title {
      color: #c7984a;
      font: 1.7em bold "Roboto Slab";
      line-height: 1.5em;
      margin: 0; }
  .section .content {
    width: 100%;
    max-width: 960px;
    margin: 0px auto; }

#section0 {
  position: relative;
  height: 650px;
  background-color: #2a2e3a;
  text-align: center;
  background: url(/images/section0-bg.png) no-repeat center;
  background-size: auto 660px; }
  #section0 .iphone {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 30px;
    background-color: #ccc;
    background: url(/images/section0-iphone.png) no-repeat center;
    background-size: auto 500px; }
  #section0 .download-appstore > img {
    margin-top: 10px;
    width: 180px; }

#section1 {
  background-color: #f2ebe4;
  text-align: center;
  height: 740px;
  overflow: hidden; }
  #section1 .section-header {
    background-color: rgba(255, 255, 255, 0.3); }
  #section1 article {
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box; }
    #section1 article .app-icon {
      width: 85px;
      margin-top: 30px; }
    #section1 article p {
      font-size: 1.3em;
      line-height: 1.3; }
      #section1 article p.description {
        font-weight: bold;
        margin: 30px 0;
        color: #382413; }
      #section1 article p.content {
        font-family: "Helvetica Neue Thin";
        font-size: 1.1em;
        width: 95%;
        color: #999; }
  #section1 .iphones {
    width: 100%;
    height: 900px;
    margin-top: 50px;
    background: url(/images/section1-iphones.png) no-repeat center 0;
    background-size: 1160px auto; }

#section2 {
  min-height: 750px; }
  #section2 .iphone-photo {
    background: url(/images/iphone-golden-01.png) no-repeat center; }

#section3 {
  min-height: 700px; }
  #section3 .iphone-photo {
    background: url(/images/iphone-golden-02.png) no-repeat center; }

#section2, #section3 {
  background-color: #2a2e3a;
  overflow: hidden; }
  #section2 .gradient, #section3 .gradient {
    position: absolute;
    width: 100%;
    height: 150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, transparent 100%); }
  #section2 .section-header, #section3 .section-header {
    background-color: rgba(0, 0, 0, 0.7); }
    #section2 .section-header h1.title, #section3 .section-header h1.title {
      font-size: 1.3em; }
  #section2 hr, #section3 hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #df5343; }
  #section2 .iphone-photo, #section3 .iphone-photo {
    width: 100%;
    height: 603px;
    background-size: auto 100%; }
  #section2 .video, #section3 .video {
    background: none;
    display: none;
    position: absolute;
    left: 50%;
    top: 78px;
    margin-left: -130px;
    width: 260px;
    height: 445px; }
    @media (min-width: 768px) {
      #section2 .video, #section3 .video {
        display: block; } }
  #section2 .row.info, #section3 .row.info {
    max-width: 930px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 0; }
  #section2 .sub-title, #section3 .sub-title {
    color: #c7984a;
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;
    margin-top: 50px; }
  #section2 .creator-description, #section3 .creator-description {
    color: #999;
    line-height: 1.5em; }
  #section2 .title, #section3 .title {
    color: #c7984a;
    line-height: 1.8em;
    margin: 0;
    font-size: 32px; }
  #section2 .features, #section3 .features {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 50px; }
    #section2 .features li, #section3 .features li {
      line-height: 1.3em;
      margin-bottom: 10px;
      color: #eee; }
      #section2 .features li .subject, #section3 .features li .subject {
        color: white;
        padding: 7px 13px;
        background-color: #4C4A49;
        border: 1px solid #c7984a;
        line-height: 3.5em;
        border-radius: 25px; }
      #section2 .features li .description, #section3 .features li .description {
        font-size: 0.8em; }
  #section2 .icon, #section3 .icon {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 40px;
    right: 10px; }
  #section2 .icon-creator, #section3 .icon-creator {
    background: url(/images/icon-creator.png) no-repeat center;
    background-size: 90px; }
  #section2 .icon-explorer, #section3 .icon-explorer {
    background: url(/images/icon-explorer.png) no-repeat center;
    background-size: 90px; }

#section4 {
  background-color: #f2ebe4;
  height: auto; }
  #section4 .section-header {
    background-color: rgba(255, 255, 255, 0.3); }
  #section4 .links {
    width: 70%;
    margin: 0 auto; }
  #section4 .link {
    display: block;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 70px;
    margin-bottom: 70px; }
    #section4 .link .title {
      line-height: 1.5em;
      color: #c7984a; }
    #section4 .link .icon {
      display: block;
      margin: 0 auto;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px; }
    #section4 .link .icon-email {
      background-image: url(/images/icon-email.svg); }
    #section4 .link .icon-facebook {
      background-image: url(/images/icon-facebook.svg); }
    #section4 .link .icon-press-kit {
      background-image: url(/images/icon-press-kit.svg); }
    #section4 .link:hover .title {
      color: #2a2e3a; }
    #section4 .link:hover .icon-email {
      background-image: url(/images/icon-email-active.svg); }
    #section4 .link:hover .icon-facebook {
      background-image: url(/images/icon-facebook-active.svg); }
    #section4 .link:hover .icon-press-kit {
      background-image: url(/images/icon-press-kit-active.svg); }

#section5 {
  background-color: #20232b;
  height: auto;
  text-align: center; }
  #section5 .email-subscription {
    margin-bottom: -40px; }
  #section5 .thank-you {
    position: relative;
    width: 100%;
    top: -40px;
    color: white;
    font-size: 30px;
    visibility: hidden; }
  #section5 #inputEmail {
    background-color: #4C4A49;
    border-color: #c7984a;
    color: white;
    text-align: center; }
  #section5 button.submit-btn {
    margin-left: 5px;
    margin-right: 5px;
    background: none;
    border-color: #ddd;
    color: #ddd;
    outline: 0; }
    #section5 button.submit-btn:hover {
      background-color: #4C4A49; }
  #section5 p.email-subscription-description {
    color: #999;
    margin-top: 50px; }
  #section5 p.description {
    color: #c7984a;
    margin-top: 60px; }
  #section5 .app-icon {
    width: 42px;
    margin-right: 10px; }
  #section5 .download-appstore > img {
    width: 138px; }
  #section5 .clearfix {
    margin-bottom: 60px; }
  #section5 hr {
    width: 96%;
    border: 0;
    border-bottom: 1px solid #333; }

.container.forget-password, .container.reset-password {
  max-width: 500px; }
  .container.forget-password .title, .container.reset-password .title {
    text-align: center; }
  .container.forget-password p.description, .container.reset-password p.description {
    color: #999; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUp {
  visibility: visible !important;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }
