extends layout

block title
  if(meta.title)
    title= meta.title

block head
  if(meta.canonical)
    link(rel='canonical', href=meta.canonical)

  meta(property='fb:app_id', content="941855375854709")

  if(meta.aliOSUrl)
    meta(property='al:ios:app_name', content="Capso")
    meta(property='al:ios:app_store_id', content="985646492")
    meta(property='al:ios:url', content=meta.aliOSUrl)

  if(meta.alWebUrl)
    meta(name='apple-itunes-app', content='app-id=985646492 app-argument=' + meta.alWebUrl)
    meta(property='al:web:url', content=meta.alWebUrl)

  if(meta.medium)
    meta(name='medium', content=meta.medium)

  if(meta.description)
    meta(name='description', content=meta.description)

  if(meta.ogTitle)
    meta(property='og:title', content=meta.ogTitle)

  if(meta.ogDescription)
    meta(property='og:description', content=meta.ogDescription)

  if(meta.ogSiteName)
    meta(property='og:site_name', content=meta.ogSiteName)

  if(meta.ogImage)
    meta(property='og:image', content=meta.ogImage)
    if(meta.ogImageType)
      meta(property='og:image:type', content=meta.ogImageType)
    if(meta.ogImageWidth)
      meta(property='og:image:width', content=meta.ogImageWidth)
    if(meta.ogImageHeight)
      meta(property='og:image:height', content=meta.ogImageHeight)

  if(meta.ogUrl)
    meta(property='og:url', content=meta.ogUrl)

  if(meta.ogType)
    meta(property='og:type', content=meta.ogType)

  if(meta.ogVideo)
    meta(property='og:video', content=meta.ogVideo)

  if(meta.ogVideoUrl)
    meta(property='og:video:url', content=meta.ogVideoUrl)

  if(meta.ogVideoSecureUrl)
    meta(property='og:video:secure_url', content=meta.ogVideoSecureUrl)
  
  if(meta.ogVideoType)
    meta(property='og:video:type', content=meta.ogVideoType)

  if(meta.ogVideoWidth)
    meta(property='og:video:width', content=meta.ogVideoWidth)

  if(meta.ogVideoHeight)
    meta(property='og:video:height', content=meta.ogVideoHeight)

block content
  #fb-root
  #tweet-container
  script(src='//maps.googleapis.com/maps/api/js?sensor=false')
  script
    if (_Error)
      |  window._Error = !{JSON.stringify(_Error)};
    if (sharedData)
      | window._sharedData = !{JSON.stringify(sharedData)};
    if (uiText)
      | window._uiText = !{JSON.stringify(uiText)};
      