doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title Capso
  body
    #topBar
      #userInfo
        img.avatar(src='https://graph.facebook.com/10153263766553308/picture')
        .content
          .user-name Jeremy Lin
          .datetime Today at 7:10 AM
    #media.pure-img
      img.default(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAtJREFUCB1jYAACAAAFAAGNu5vzAAAAAElFTkSuQmCC')
      img.preview(src='https://storage.googleapis.com/capso-api-media-preview/4966369200177152/6157809153203906/preview')
      video#video(controls)
        source(src='https://storage.googleapis.com/capso-api-media/4966369200177152/6157809153203906', type='video/mp4')
    #mediaInfo
      #location
        img.icon-marker(src='http://capso.cc/images/icon_marker.svg')
        #locationName 找到咖啡
        .right.floated
          button.pure-button 開啟寶藏
      #description
        | 有好多動物的咖啡店啊！🐒🐘🐦
        br
        | 都是用紙做的～


    script(src='/client-embed.js')
    //include tracking/ga.jade
