doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    block title
      title Capso
    block head

  body
    span#reactRoot
    block content

    script(src='/bundle.js')
    include tracking/ga.jade
