doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(http-equiv='refresh', content='0;url=' + url)
    title Capso
  body
    include tracking/ga.jade