extends layout

block title
  title= 'Capso -' + __('Forgot your password?')

block content
  include ./navmenu

  .container.forget-password
    bralert
    .title
      h2.= __('Forgot your password?')
      p.description= __('Enter your email below to reset password.')
    #alert.alert.alert-danger.hide(role='alert')
    form
      .form-group.form-group-lg
        label(for='inputEmail')= __('EMAIL')
        input#inputEmail.form-control(type='email', placeholder='mail@example.com', autofocus)
      button#sendEmailBtn.btn.btn-default.btn-block.btn-primary(type='button')= __('SUBMIT')