doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    block title
      title= title
    link(rel='stylesheet', href='/assets/css/style.css')
    block css
    script(src='/assets/js/jquery.min.js') 
    script(src='/assets/js/bootstrap.min.js')
    script(src='/assets/js/password.js')
    block js
  body
    block content
    script
      if (sharedData)
        | window._sharedData = !{JSON.stringify(sharedData)};
      if (uiText)
        | window._uiText = !{JSON.stringify(uiText)};

    include ../tracking/ga.jade