extends layout

block title
  title= 'Capso -' + __('Reset password')

block content
  include ./navmenu

  .container.forget-password
    br
    .title
      h2.= __('Reset password')
      p.description= __('Enter your new password.')
    #alert.alert.alert-danger.hide(role='alert')
    form
      .form-group.form-group-lg
        label(for='inputPassword')= __('New password')
        input#inputPassword.form-control(type='password', autofocus)
      .form-group.form-group-lg
        label(for='inputConfirmation')= __('Re-enter password')
        input#inputConfirmation.form-control(type='password')
      button#resetPasswordBtn.btn.btn-default.btn-block.btn-primary(type='button')= __('RESET_PASSWORD')