extends layout

block content
  include navmenu
  article.container.terms-container
    h1.uppercase= __('ATTRIBUTION_STATEMENT')
    p.updated Last Updated on July 29, 2015
    hr
    p
      | Welcome to Capso, operated by Capso, Co.,Ltd. (the “Company” or “Capso”).
    p
      | On occasion Capso has incorporated into individual assets images and audios that have been produced by others. We have used our reasonable endeavours to ensure that such content can be safely incorporated into the Capso content.
    p 
      | Here is a list of these assets:

    table.table
      thead
        tr
          th Attribution Reference No.
          th Title
          th Creator
          th URL
          th Type of Licence
      tbody
        tr
          td 000001
          td Underground - Free Electronic Dance Background Music
          td Kabbalistic Village
          td 
            a(href='https://soundcloud.com/kabbalisticvillage/underground-tech-trance-electronic-dance-background-music', target='_blank') URL
          td CC BY 3.0
        tr
          td 000002
          td Playful Background Music
          td dgruber
          td 
            a(href='https://soundcloud.com/degruber/playful-background-music-free', target='_blank') URL
          td CC BY 3.0
        tr
          td 000003
          td Cradle of Stars
          td Scott Cresswell
          td 
            a(href='https://www.flickr.com/photos/scott-s_photos/11763686274', target='_blank') URL
          td CC BY 3.0
        tr
          td 000004
          td Autumn Park
          td mrhayata
          td 
            a(href='https://www.flickr.com/photos/mrhayata/5251116278', target='_blank') URL
          td CC BY-SA 2.0
    .clearfix
    hr
  footer.footer.light
    include footer