p.links
  a.terms-link(href='mailto:support@capso.cc')
    = __('CONTACT_US')
  span.split |
  a.terms-link(href='/terms-of-use')
    = __('TERMS_OF_USE')
  span.split |
  a.terms-link(href='/privacy-policy')
    = __('PRIVACY_POLICY')
  span.split |
  a.terms-link(href='/attribution-statement')
    = __('ATTRIBUTION_STATEMENT')
p.copyright
  | © 2015  Capso Co.Ltd.