extends layout

block content
  include navmenu
  #page.container-fluid
    section.section#section0
      .iphone
      a.download-appstore(href=appLinks.HomeTop, target='_blank')
        img(src='/images/download-btn.png')
    section.section#section1
      .section-header 
        h1.title= __('ABOUT_CAPSO')
      article
        img.app-icon(src='/images/app-icon.png')
        p.description
          | "
          = __('CAPSO_SUBTITLE')
          | "
        p.content
          = __('CAPSO_DESCRIPTION')
      .iphones
    section.section#section2
      .gradient
      .section-header
        h1.title= __('CAPSO_ROLES_TITLE')
      .row.info
        .col-sm-6
          .row
            .col-xs-9
              p.sub-title!= __('TREASURE_CREATOR_SUBTITLE')
              h2.title= __('TREASURE_CREATOR')
            .col-xs-3.icon.icon-creator
          hr
          p.creator-description= __('TREASURE_CREATOR_DESCRIPTION')
          ul.features
            li
              span.subject= __('TREASURE_CREATOR_FEATURE_01')
              br
              span.description= __('TREASURE_CREATOR_FEATURE_01_DESCRIPTION')
            li
              span.subject= __('TREASURE_CREATOR_FEATURE_02')
              br
              span.description= __('TREASURE_CREATOR_FEATURE_02_DESCRIPTION')
            li
              span.subject= __('TREASURE_CREATOR_FEATURE_03')
              br
              span.description= __('TREASURE_CREATOR_FEATURE_03_DESCRIPTION')
        .col-sm-6
          video.video(loop, muted, preload)
            source(src='/video/video1.webm', type='video/web')
            source(src='/video/video1.mp4', type='video/mp4')
          .iphone-photo

    section.section#section3
      .gradient
      .row.info
        .col-sm-6.col-sm-push-6
          .row
            .col-xs-9
              p.sub-title!= __('TREASURE_EXPLORER_SUBTITLE') 
              h2.title= __('TREASURE_EXPLORER')
            .col-xs-3.icon.icon-explorer
          hr
          p.creator-description= __('TREASURE_EXPLORER_DESCRIPTION')
          ul.features
            li
              span.subject= __('TREASURE_EXPLORER_FEATURE_01')
              br
              span.description= __('TREASURE_EXPLORER_FEATURE_01_DESCRIPTION')
            li
              span.subject= __('TREASURE_EXPLORER_FEATURE_02')
              br
              span.description= __('TREASURE_EXPLORER_FEATURE_02_DESCRIPTION')
            li
              span.subject= __('TREASURE_EXPLORER_FEATURE_03')
              br
              span.description= __('TREASURE_EXPLORER_FEATURE_03_DESCRIPTION')
        .col-sm-6.col-sm-pull-6
          video.video(loop, muted, preload)
            source(src='/video/video2.webm', type='video/web')
            source(src='/video/video2.mp4', type='video/mp4')
          .iphone-photo
    section.section#section4
      .section-header
        h1.title= __('CONTACT_&_PRESS_KIT')
      .row.links
        .col-sm-4
          a.link(href='mailto:support@capso.cc')
            .title= __('EMAIL')
            .icon.icon-email
        .col-sm-4
          a.link(href='/r/facebook', target='_blank')
            .title= __('FOLLOW_US_ON_FACEBOOK')
            .icon.icon-facebook
        .col-sm-4
          a.link(href='/download/Capso-Press-kit-1.0.zip')
            .title= __('DOWNLOAD_PRESS_KIT')
            .icon.icon-press-kit
    section.section#section5
      .row.email-subscription
        .col-xs-10.col-xs-offset-1
          div.enter-email.animated
            p.email-subscription-description= __('EMAIL_SUBSCRIPTION_DESCRIPTION')
            form.form-inline
              div.form-group.form-group-lg
                label.sr-only(for='inputEmail')= __('EMAIL')
                input#inputEmail.form-control(type='email', placeholder='mail@example.com')
              button.submit-btn.btn.btn-lg.btn-warning(type='button')= __('SUBMIT')
          div.thank-you.animated= __('THANK_YOUR_SUBSCRIPTION!')
      p.description!= __('APP_FOOTER_DESCRIPTION')
      img.app-icon(src='/images/app-icon.png')
      a.download-appstore(href=appLinks.HomeBottom, target='_blank')
        img(src='/images/appstore-btn.png')
      .clearfix
      hr
    footer.footer
      include footer