doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    meta(property='fb:app_id', content="941855375854709")
    meta(name='author', content='Capso')
    meta(name='Resource-type', content='Document')

    meta(property='al:ios:app_name', content="Capso")
    meta(property='al:ios:app_store_id', content="985646492")
    meta(property='al:ios:url', content='capso://')

    if(meta.ogUrl) 
      meta(property='al:web:url', content=meta.ogUrl)
      meta(name='apple-itunes-app', content='app-id=985646492 app-argument=' + meta.ogUrl)

    if(meta.medium)
      meta(name='medium', content=meta.medium)

    if(meta.description)
      meta(name='description', content=meta.description)

    if(meta.ogSiteName)
      meta(property='og:site_name', content=meta.ogSiteName)

    if(meta.ogTitle)
      meta(property='og:title', content=meta.ogTitle)

    if(meta.ogImage)
      meta(property='og:image', content=meta.ogImage)

    if(meta.ogDescription)
      meta(property='og:description', content=meta.ogDescription)

    if(meta.ogUrl)
      meta(property='og:url', content=meta.ogUrl)

    if(meta.ogType)
      meta(property='og:type', content=meta.ogType)

    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/assets/css/style.css')
    block js
      script(src='/assets/js/jquery.min.js') 
      script(src='/assets/js/bootstrap.min.js') 
      script(src='/assets/js/video-scroll-play.js') 
      script(src='/assets/js/email.js') 
  body
    block content

    include ../tracking/ga.jade
