nav.navbar.navbar-inverse.navbar-capso
  .container
    .navbar-header
      a.navbar-brand.capso-brand(href='/')
        img.logo(src='/images/capso-logo.svg')
      button.navbar-toggle.collapsed(type='button',data-toggle='collapse',data-target='#navbar',aria-expanded='false',aria-controls='navbar')
        span.sr-only
          Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            = currentLang
            |  
            span.caret
          ul.dropdown-menu
            li
              a(href=path + '?l=en') English
            li
              a(href=path + '?l=zh-TW') 繁體中文
      