extends layout

block content
  include navmenu
  article.container.terms-container
    h1.uppercase= __('PRIVACY_POLICY')
    p.updated Last Updated: July 11, 2015
    hr
    p
      | Capso, Co.,Ltd. (“Capso,” “we,” and “us”) respects the privacy of its users (“you”) and has developed this Privacy Policy to demonstrate its commitment to protecting your privacy. This Privacy Policy describes the information we collect, how that information may be used, with whom it may be shared, and your choices about such uses and disclosures. We encourage you to read this Privacy Policy carefully when using our application or services or transacting business with us. By using our website or application (our “Service”), you are accepting the practices described in this Privacy Policy.
    p
      | If you have any questions about our privacy practices, please refer to Contact Us at the end of this page.

    h2 1. Information we collect about you
    p
      | We may collect information that can identify you such as your name and email address ("personal information") and other information that does not identify you. We may collect this information through a website or a mobile application. By using the Service, you are authorizing us to gather, parse and retain data related to the provision of the Service.
    ul
      li
        | Information you provide. In order to register as a user with Capso, you will be asked to sign in using your Facebook login. If you do so, you authorize us to access certain Facebook account information, such as your public Facebook profile (consistent with your privacy settings in Facebook), your email address, public profile, and friend list. You will also be asked to allow Capso to collect your location information from your device when you download or use the Service. In addition, we may collect and store any personal information you provide while using our Service or in some other manner. This may include identifying information, such as your name, address, email address and telephone number, and, if you transact business with us, financial information. You may also provide us photos, a personal description and information about your gender and preferences for recommendations, such as search distance, age range and gender. If you share capso with other Capso users, you provide us the related content, and if you contact us with a customer service or other inquiry, you provide us with the content of that communication.
      li
        | Information collected automatically. We automatically collect information from your browser or device when you visit our Service. This information could include your IP address, device ID and type, your browser type and language, the operating system used by your device, access times, your mobile device’s geographic location while our application is actively running, and the referring website address.
      li
        | Cookies and Use of Cookie Data. When you visit our Service, we may assign your device one or more cookies to facilitate access to our Service and to personalize your experience. Through the use of a cookie, we also may automatically collect information about your activity on our Service, such as the pages you visit, the time and date of your visits and the links you click. If we advertise, we (or third parties) may use certain data collected on our Service to show you Capso advertisements on other sites or applications.
      li
        | Other Technologies. We may use standard Internet technology, such as web beacons and other similar technologies, to track your use of our Service and to deliver or communicate with cookies. We also may include web beacons in advertisements or email messages to determine whether messages have been opened and acted upon. The information we obtain in this manner enables us to customize the services we offer users, to deliver targeted advertisements and to measure the overall effectiveness of our online advertising, content, programming or other activities.
      li
        | Information collected by third-parties for advertising purposes. We may allow service providers, advertising companies and ad networks, and other third parties to display advertisements on our Service. These companies may use tracking technologies, such as cookies or web beacons, to collect information about users who view or interact with their advertisements. We do not provide any non-anonymized personal information to third parties. Some of these third- party advertising companies may be advertising networks that are members of the Network Advertising Initiative, which offers a single location to opt out of ad targeting from member companies (www.networkadvertising.org). Opting out will not decrease the number of advertisements you see.

    h2 2. How we use the information we collect
    p
      | In General. We may use information that we collect about you to:
    ul
      li
        | deliver and improve our products and services, and manage our business;
      li
        | manage your account and provide you with customer support;
      li
        | perform research and analysis about your use of, or interest in, our or others’ products, services, or content;
      li
        | communicate with you by email, postal mail, telephone and/or mobile devices about products or services that may be of interest to you either from us or other third parties;
      li
        | develop, display, and track content and advertising tailored to your interests on our Service and other sites, including providing our advertisements to you when you visit other sites;
      li
        | website or mobile application analytics;
      li
        | verify your eligibility and deliver prizes in connection with contests and sweepstakes;
      li
        | enforce or exercise any rights in our Terms of Use; and
      li
        | perform functions or services as otherwise described to you at the time of collection.

    h2 3. With whom we share your information
    ul
      li
        | Information Shared with Other Users. When you register as a user of Capso, your Capso profile will be viewable by other users of the Service. Other users will be able to view information you have provided to us directly or through Facebook, such as your Facebook photos, any additional videos and photos you upload, your first name, your age, approximate number of miles away, and your personal description.
      li
        | Personal information. We do not share your personal information with others except as indicated in this Privacy Policy or when we inform you and give you an opportunity to opt out of having your personal information shared. We may share personal information with:
        ul
          li
            | Service providers: We may share information, including personal and financial information, with third parties that perform certain services on our behalf. These services may include fulfilling orders, providing customer service and marketing assistance, performing business and sales analysis, ad tracking and analytics, member screenings, supporting our Service functionality, and supporting contests, sweepstakes, surveys and other features offered through our Service. These service providers may have access to personal information needed to perform their functions but are not permitted to share or use such information for any other purposes.
          li
            | Other Situations. We may disclose your information, including personal information:
          li
            | In response to a subpoena or similar investigative demand, a court order, or a request for cooperation from a law enforcement or other government agency; to establish or exercise our legal rights; to defend against legal claims; or as otherwise required by law. In such cases, we may raise or waive any legal objection or right available to us.
          li
            | When we believe disclosure is appropriate in connection with efforts to investigate, prevent, or take other action regarding illegal activity, suspected fraud or other wrongdoing; to protect and defend the rights, property or safety of our company, our users, our employees, or others; to comply with applicable law or cooperate with law enforcement; or to enforce our Terms of Use or other agreements or policies.
          li
            | In connection with a substantial corporate transaction, such as the sale of our business, a divestiture, merger, consolidation, or asset sale, or in the unlikely event of bankruptcy.
      li
        | Aggregated and/or non-personal information. We may use and share non-personal information we collect under any of the above circumstances. We may also share it with third parties to develop and deliver targeted advertising on our Service and on websites or applications of third parties, and to analyze and report on advertising you see. We may combine non-personal information we collect with additional non- personal information collected from other sources. We also may share aggregated, non-personal information, or personal information in hashed, non-human readable form, with third parties, including advisors, advertisers and investors, for the purpose of conducting general business analysis or other business purposes. For example, we may engage a data provider who may collect web log data from you (including IP address and information about your browser or operating system), or place or recognize a unique cookie on your browser to enable you to receive customized ads or content. The cookies may reflect de-identified demographic or other data linked to data you voluntarily have submitted to us (such as your email address), that we may share with a data provider solely in hashed, non-human readable form. To opt-out of cookies that may be set by third party data or advertising partners, please go to http:// www.aboutads.info/choices/.

    h2 4. How we protect your personal information
    p
      | We take security measures to help safeguard your personal information from unauthorized access and disclosure. However, no system can be completely secure. Therefore, although we take steps to secure your information, we do not promise, and you should not expect, that your personal information, videos, content, or other communications will always remain secure. Users should also take care with how they handle and disclose their personal information and should avoid sending personal information through insecure email. Please refer to the Federal Trade Commission's website at http://www.ftc.gov/bcp/menus/consumer/data.shtm for information about how to protect yourself against identity theft.

    h2 5. Information you provide about yourself while using our Service
    p
      | We provide areas on our Service where you can post information about yourself and others and communicate with others. Such postings are governed by our Terms of Use . Also, whenever you voluntarily disclose personal information on publicly-viewable pages, that information will be publicly available and can be collected and used by others. For example, if you post your email address, you may receive unsolicited messages. We cannot control who reads your posting or what other users may do with the information you voluntarily post, so we encourage you to exercise discretion and caution with respect to your personal information.

    h2 6. Changes to this Privacy Policy
    p
      | We will occasionally update this Privacy Policy. When we post changes to this Privacy Policy, we will revise the "last updated" date at the top of this Privacy Policy. We recommend that you check our Service from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.
    .clearfix
    hr
  footer.footer.light
    include footer